.center {
    text-align: center;
}

/* img.lazyload {
  background-image: url('./img/loading.gif');
        background-repeat: no-repeat;
        background-position: 50% 50%;
} */


/* the two below classes are built into the plugin to allow features such as unveil effects. Below has a 300ms fade in with a loading gif for percieved page speed. Min height and width set below to avoid page jump*/

.lazyload,
.lazyloading {
	min-height: 467px;
  min-width: 700px;
}

.lazyload {
	opacity: 0;
}

.lazyloading {
	opacity: 1;
	transition: opacity 300ms;
	background: #f7f7f7 url('./img/loading.gif') no-repeat center;
}

/* to make responsive for testing */
/* Would not normally lose aspect ratio but placeholder heights and widths set above */
img {
  margin: 0 auto;
  padding-top: 25px;
  display: block;
  max-width: 700px;
  max-height: 100%;
  width: 100%;
  height: auto;
}
